<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Create Game</title>
</head>
<body>
    <nav class="navbar">

    </nav>
    <div class="container">
        <div class="game-bracket">
            <table class="game-table">
                <thead>
                    <tr>
                        <th>Red Team</th>
                        <th></th>
                        <th>Position</th>
                        <th></th>
                        <th>Blue Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="red-top" id="red-top">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-top-score"></td>
                        <td>
                            Top
                        </td>
                        <td id="blu-top-score"></td>
                        <td>
                            <select name="blu-top" id="blu-top">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-jung" id="red-jung">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-jung-score"></td>
                        <td>
                            jung
                        </td>

                        <td id="blu-jung-score"></td>
                        <td>
                            <select name="blu-jung" id="blu-jung">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-mid" id="red-mid">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-mid-score"></td>
                        <td>
                            mid
                        </td>

                        <td id="blu-mid-score"></td>
                        <td>
                            <select name="blu-mid" id="blu-mid">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-adc" id="red-adc">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-adc-score"></td>
                        <td>
                            adc
                        </td>

                        <td id="blu-adc-score"></td>
                        <td>
                            <select name="blu-adc" id="blu-adc">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-sup" id="red-sup">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-sup-score"></td>
                        <td>
                            sup
                        </td>
                        <td id="blu-sup-score"></td>
                        <td>
                            <select name="blu-sup" id="blu-sup">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Red Score</td>
                        <td id="red-total-score"></td>
                        <td>- VS -</td>
                        <td id="blu-total-score"></td>
                        <td>Blue Score</td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <br>
        <br>
        <div class="player-pool">
            <table class="player-pool-table">
                <thead>
                    <tr>
                        <th>Summoner</th>
                        <th>Top</th>
                        <th>Jungle</th>
                        <th>Mid</th>
                        <th>ADC</th>
                        <th>Support</th>
                        <th>W/L</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0; i < players.length; i++) { %>
                        <tr>
                          <td><%= players[i].alias %></td>
                          <td><%= players[i].posRatings.top %></td>
                          <td><%= players[i].posRatings.jung %></td>
                          <td><%= players[i].posRatings.mid %></td>
                          <td><%= players[i].posRatings.adc%></td>
                          <td><%= players[i].posRatings.sup %></td>
                          <td><%= players[i].wins %> / <%= players[i].losses %></td>
                        </tr>
                    <% } %>
                </tbody>
                
            </table>
        </div>
    </div>
    <style src=""></style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/newGame.js" type="text/javascript"></script>
</body>
</html>