<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet" type="text/css">
    <title>Create Game</title>
</head>
<body class="bg-gray-800 text-white">
    <header class="navbar bg-int-blue py-2 px-4 flex justify-between items-center">
        <a href="/"><img src="/img/logo_white.png" alt="int-house logo" class="max-h-7"></a>
        <img src="/img/menu.svg" alt="menu icon" class="h-8 cursor-pointer">
    </header>
    <form action="game-results" id="game-form" method="POST"></form>
    <div class="container">
        <div class="game-bracket mt-12">
            <table class="game-table mx-auto">
                <thead>
                    <tr>
                        <th class="font-heading text-2xl pb-2">Red</th>
                        <th class="w-12"></th>
                        <th></th>
                        <th class="w-12"></th>
                        <th class="font-heading text-2xl">Blue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="red-top" id="red-top" class="red-select bg-red-500 font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <!-- perhaps change red-scores and blu-scores to classes? -->
                        <td name="red-scores" id="red-top-score" class="text-lg text-center"></td>
                        <input type="hidden" name="red-top-value" id="red-top-value" form="game-form">
                        <td>
                            <img class="w-8 my-1" src="/img/positions/Top_icon.svg" alt="top icon">
                        </td>
                        <td name="blu-scores" id="blu-top-score" class="text-lg text-center"></td>
                        <input type="hidden" name="blu-top-value" id="blu-top-value" form="game-form">
                        <td>
                            <select name="blu-top" id="blu-top" class="red-select bg-int-blue font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-jung" id="red-jung" class="red-select bg-red-500 font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td name="red-scores" id="red-jung-score" class="text-lg text-center"></td>
                        <input type="hidden" name="red-jung-value" id="red-jung-value" form="game-form">
                        <td>
                            <img class="w-8 my-1" src="/img/positions/Jungle_icon.svg" alt="jungle icon">
                        </td>

                        <td name="blu-scores" id="blu-jung-score" class="text-lg text-center"></td>
                        <input type="hidden" name="blu-jung-value" id="blu-jung-value" form="game-form">
                        <td>
                            <select name="blu-jung" id="blu-jung" class="red-select bg-int-blue font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-mid" id="red-mid" class="red-select bg-red-500 font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td name="red-scores" id="red-mid-score" class="text-lg text-center"></td>
                        <input type="hidden" name="red-mid-value" id="red-mid-value" form="game-form">
                        <td>
                            <img class="w-8 my-1" src="/img/positions/Middle_icon.svg" alt="middle icon">
                        </td>

                        <td name="blu-scores" id="blu-mid-score" class="text-lg text-center"></td>
                        <input type="hidden" name="blu-mid-value" id="blu-mid-value" form="game-form">
                        <td>
                            <select name="blu-mid" id="blu-mid" class="red-select bg-int-blue font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-adc" id="red-adc" class="red-select bg-red-500 font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td name="red-scores" id="red-adc-score" class="text-lg text-center"></td>
                        <input type="hidden" name="red-adc-value" id="red-adc-value" form="game-form">
                        <td>
                            <img class="w-8 my-1" src="/img/positions/Bot_icon.svg" alt="adc icon">
                        </td>

                        <td name="blu-scores" id="blu-adc-score" class="text-lg text-center"></td>
                        <input type="hidden" name="blu-adc-value" id="blu-adc-value" form="game-form">
                        <td>
                            <select name="blu-adc" id="blu-adc" class="red-select bg-int-blue font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-sup" id="red-sup" class="red-select bg-red-500 font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td name="red-scores" id="red-sup-score" class="text-lg text-center"></td>
                        <input type="hidden" name="red-sup-value" id="red-sup-value" form="game-form">
                        <td>
                            <img class="w-8 my-1" src="/img/positions/Support_icon.svg" alt="support icon">
                        </td>
                        <td name="blu-scores" id="blu-sup-score" class="text-lg text-center"></td>
                        <input type="hidden" name="blu-sup-value" id="blu-sup-value" form="game-form">
                        <td>
                            <select name="blu-sup" id="blu-sup" class="red-select bg-int-blue font-body p-1 rounded w-28" form="game-form">
                                <option disabled selected value>--</option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>     
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <!-- append favoured element to this if red team favourite -->
                        <td id="red-side" class="text-right"></td>
                        <td id="red-total-score" class="text-2xl font-bold text-center"></td>
                        <td class="h-12 text-center font-bold text-yellow-400">VS</td>
                        <td id="blu-total-score" class="text-2xl font-bold text-center"></td>
                        <!-- append favoured element to this if blue team favourite -->
                        <td id="blue-side"></td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="red-prob" id="red-prob" form="game-form">
            <input type="hidden" name="blue-prob" id="blue-prob" form="game-form">
            <div class="w-5/6 m-auto">
                <input class="rounded bg-gray-700 py-2 px-2 text-gray-100 w-24 outline-none focus:bg-gray-600" type="password" name="password" id="password" placeholder="PIN" form="game-form">
                <p id="pinError" class="text-sm italic text-red-500"></p>
            </div>
        </div>
        <div class="vict-buttons flex w-5/6 mx-auto justify-between mt-6">
            <button class="bg-red-500 p-2 rounded hover:bg-red-400" id="red-victory">Red Team Victory</button>
            <button class="bg-int-blue p-2 rounded hover:bg-int-blue-light" id="blue-victory">Blue Team Victory</button>
        </div>
        <br>
        <br>
        <div class="player-pool">
            <table class="player-pool-table">
                <thead>
                    <tr>
                        <th>Summoner</th>
                        <th>Top</th>
                        <th>Jungle</th>
                        <th>Mid</th>
                        <th>ADC</th>
                        <th>Support</th>
                        <th>W/L</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0; i < players.length; i++) { %>
                        <tr>
                          <td><%= players[i].alias %></td>
                          <td><%= players[i].posRatings.top %></td>
                          <td><%= players[i].posRatings.jung %></td>
                          <td><%= players[i].posRatings.mid %></td>
                          <td><%= players[i].posRatings.adc%></td>
                          <td><%= players[i].posRatings.sup %></td>
                          <td><%= players[i].wins %> / <%= players[i].losses %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="blue-modal hidden z-50 absolute top-12 w-screen bg bg-black bg-opacity-60 justify-center mt-3/6">
        <div class="p-6 bg-white w-4/5 h-48 mt-48 rounded-lg flex flex-col items-center">
            <div class="w-full flex justify-end -mt-2 -mr-2 mb-6">
                <img src="/img/close.svg" alt="close button" name="win-blue" class="close-modal h-5 cursor-pointer">                
            </div>
            <p class="text-black mb-6">Confirm red as winning Team?</p>
            <input class="cursor-pointer bg-int-blue w-36 rounded-lg p-2 hover:bg-int-blue-light transition-colors duration-100 ease-in-out" type="submit" form="game-form" name="blue" value="Blue Victory">
        </div>
    </div>
    <div class="red-modal hidden z-50 absolute top-12 w-screen bg bg-black bg-opacity-60 justify-center mt-3/6">
        <div class="p-6 bg-white w-4/5 h-48 mt-48 rounded-lg flex flex-col items-center">
            <div class="w-full flex justify-end -mt-2 -mr-2 mb-6">
                <img src="/img/close.svg" alt="close button" name="win-blue" class="close-modal h-5 cursor-pointer">                
            </div>
            <p class="text-black mb-6">Confirm red as winning Team?</p>
            <input class="cursor-pointer bg-red-500 w-36 rounded-lg p-2 hover:bg-red-400 transition-colors duration-100 ease-in-out" type="submit" form="game-form" name="win-red" value="Red Victory">
        </div>
    </div>
    <style src=""></style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/newGame.js" type="text/javascript"></script>
</body>
</html>