<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Create Game</title>
</head>
<body>
    <nav class="navbar">

    </nav>
    <div class="container">
        <div class="game-bracket">
            <table class="game-table">
                <thead>
                    <tr>
                        <th>Red Team</th>
                        <th></th>
                        <th>Position</th>
                        <th></th>
                        <th>Blue Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="red-top" id="red-top">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-top-score">
                            
                        </td>
                        <td>
                            Top
                        </td>
                        <td class="blue-top-score">

                        </td>
                        <td>
                            <select name="blue-top" id="blue-top">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-jung" id="red-jung">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-jung-score">
                            
                        </td>
                        <td>
                            jung
                        </td>

                        <td class="blue-jung-score">

                        </td>
                        <td>
                            <select name="blue-jung" id="blue-jung">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-mid" id="red-mid">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-mid-score">
                            
                        </td>
                        <td>
                            mid
                        </td>

                        <td class="blue-mid-score">

                        </td>
                        <td>
                            <select name="blue-mid" id="blue-mid">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-adc" id="red-adc">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-adc-score">
                            
                        </td>
                        <td>
                            adc
                        </td>

                        <td class="blue-adc-score">

                        </td>
                        <td>
                            <select name="blue-adc" id="blue-adc">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="red-sup" id="red-sup">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                        <td id="red-sup-score">
                            
                        </td>
                        <td>
                            sup
                        </td>
                        <td class="blue-sup-score">

                        </td>
                        <td>
                            <select name="blue-sup" id="blue-sup">
                                <option></option>
                                <% for(i=0; i < players.length; i++) { %>
                            
                                    <option value='<%= players[i].alias %>'><%= players[i].alias %></option>
                                    
                                <% } %>
                             </select>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <br>
        <br>
        <div class="player-pool">
            <table class="player-pool-table">
                <thead>
                    <tr>
                        <th>Summoner</th>
                        <th>Top</th>
                        <th>Jungle</th>
                        <th>Mid</th>
                        <th>ADC</th>
                        <th>Support</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0; i < players.length; i++) { %>
                        <tr>
                          <td><%= players[i].alias %></td>
                          <td><%= players[i].posRatings.top %></td>
                          <td><%= players[i].posRatings.jung %></td>
                          <td><%= players[i].posRatings.mid %></td>
                          <td><%= players[i].posRatings.adc%></td>
                          <td><%= players[i].posRatings.sup %></td>
                        </tr>
                    <% } %>
                </tbody>
                
            </table>
        </div>
    </div>
    <style src=""></style>
</body>
</html>