<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Create Game</title>
</head>
<body>
    <nav class="navbar">

    </nav>
    <div class="container">
        <div class="game-bracket">
            <p>[Game bracket goes here]</p>
        </div>
        <div class="player-pool">
            <table class="player-pool-table">
                <thead>
                    <tr>
                        <th>Summoner</th>
                        <th>Top</th>
                        <th>Jungle</th>
                        <th>Mid</th>
                        <th>ADC</th>
                        <th>Support</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0; i < players.length; i++) { %>
                        <tr>
                          <td><%= players[i].alias %></td>
                          <td><%= players[i].posRatings.top %></td>
                          <td><%= players[i].posRatings.jung %></td>
                          <td><%= players[i].posRatings.mid %></td>
                          <td><%= players[i].posRatings.adc%></td>
                          <td><%= players[i].posRatings.sup %></td>
                        </tr>
                    <% } %>
                </tbody>
                
            </table>
        </div>
    </div>
    <style src=""></style>
</body>
</html>