<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Created</title>
</head>
<body>
    <h2>Player successfully created!</h2>
    <p><b>Name:</b> <%= player.name %> </p> 
    <p><b>Summoner Name:</b> <%= player.alias %> </p> 
    <p><b>Top Rating:</b> <%= player.posRatings.top %> </p> 
    <p><b>Jungle Rating:</b> <%= player.posRatings.jung %> </p> 
    <p><b>Middle Rating:</b> <%= player.posRatings.mid %> </p>
    <p><b>ADC Rating:</b> <%= player.posRatings.adc %> </p>
    <p><b>Support Rating:</b> <%= player.posRatings.sup %> </p>

    <a href="/">Go Back Home</a>
    <br>
    <a href="/new-player">Add Another Player</a>
</body>
</html>